
 
<div id="container">
  <form action="jsonAsForm" Method="GET">
     <% Object.entries(parsedData).forEach(([key, value]) =>{%>
          <label for="<%= key %>"><%= key %></label>
          <input type="text" id="<%= key %>" name="<%= key %>" value="<%= value%>"><br>
      <% });%> 
  </form>
</div> 


 

